body,a,ul,ol,li,input,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
/********************初始化样式*******************/
.swiper-container{
    width: 100%;
    height: 7.5rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0.2rem;
}
.swiper-pagination-bullet {
    width: 0.1rem;
    height: 0.1rem;
    display: inline-block;
    border-radius: 50%;
    border: 0.02rem solid #FFF;
    background: rgba(0,0,0,0);
    opacity: 0.6;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFF;
}
/*****************page****************/

.gpage{
background:url(../img/bg2.png);
}
.gpage{
    width: 100%;
    height: 7.5rem;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.gpage h2{
    font-family: "微软雅黑";
    font-weight: bold;
    color: #FFF;
    font-size: 0.3rem;
    text-align: center;
}
.gpage p{
    font-family: "微软雅黑";
    font-size: 0.2rem;
    text-align: center;
    color: #F1F1F1;
}
/*****************二屏*******************/
.gpage2 h2{
    position: absolute;
    left:0;right: 0;
    margin: 0 auto;
    top:1rem;
    opacity: 0;
    transition:all 1s ease;
}
.swiper-slide-active .gpage2 h2{top:0.6rem;opacity: 1;transition-delay: 0.4s;}

.gpage2 p{
    position: absolute;
    left:0;right: 0;
    margin: 0 auto;
    top:1.1rem;
    opacity: 0;
    -webkit-transform:scale(0.5, 0.5);
    transform:scale(0.5, 0.5);
    transition:all 1s ease;
}
.swiper-slide-active .gpage2 p{-webkit-transform:scale(1, 1); transform:scale(1, 1);opacity: 1;transition-delay: 0.8s;}

.phonebg{
    position: absolute;
    left:0;right: 0;
    top: 0.45rem;
    margin: 0 auto;
    width: 4.22rem;
    height: 7.5rem;
    background:url(../img/phone1.png);
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition:all .6s ease;
}
.swiper-slide-active .phonebg{top: 0.15rem;opacity: 1;transition-delay: 1.4s;}


